---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Full Stack Helsinki" id="intro">
  <Icon slot="eyebrow" name="logomark" class="size-32" />
  <h3 class="gradient-text text-center font-extrabold tracking-tight text-4xl">
    Next meetup
  </h3>
  <p>TBD</p>
</ContentSection>
